:root {
  --primary-color: #DBDBDB;
  --transparent: rgba(255, 255, 255, 0.5);
}

* {
  background-color: #031524;
  color: var(--primary-color);
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

.title-experience {
  font-size: medium;
  margin-top: 8rem;
}

.transparent {
  color: rgba(255, 255, 255, 0.5);
}


@media (max-width: 1024px) {
  body {
    margin: 1rem;
  }
}