@media (min-width: 1024px) {
  .bodyContent {
    margin-left: 50%;
    margin-top: 10%;
    margin-right: 8%
  }
}

@media (max-width: 1024px) {
  .bodyContent {
    margin-left: 0%;
  }
}

.titleExperience {
  font-size: x-large;
  margin-top: 8rem;
}

.seeMore {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.seeMore > h3 {
  margin-right: 10px;
}
