.technology {
    color: #5eead4;
    margin: 5px;
    padding: 6px 15px;
    background-color: #003631;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    font-size: 15px;
  }
  
  .listTec {
    display: flex;
    flex-wrap: wrap;
  }
  